<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %t %level %c{1} - %msg%n"/>
        </Console>
        <RollingFile name="LogToRollingFile" fileName="${env:logpath}/filetransfer/logs/filetransfer.log"
                     filePattern="${env:logpath}/filetransfer/logs/filetransfer-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %t %level %c{1} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${env:logpath}/filetransfer/logs" >
                    <IfFileName glob="filetransfer*.log.gz">
                        <IfAccumulatedFileCount exceeds="1"/>
                    </IfFileName>
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToRollingFile"/>
        </Root>
    </Loggers>
    </Configuration>